# Core Streamlit App
streamlit==1.27.0

# Audio recording
git+https://github.com/stefanrmmr/streamlit-audio-recorder.git

# Streamlit WebRTC (optional, if uncommented)
streamlit-webrtc==0.45.0

# Other dependencies
datetime
tensorflow==2.12.0
scikit-learn==1.3.0
librosa==0.10.1
numpy==1.23.5
pandas==2.0.3
soundfile==0.12.1
joblib==1.3.2